.action {
    display: block;
    width: 30px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-footer {   border-top: 0px; }