{% extends 'AppBundle:orm:base.html.twig' %}

{% block title %}
Delete Confirmation
{% endblock %}

{% block body %}

    <div class="container">
        <div id="toolbar">
            <button id="button" class="btn btn-danger">Confirm</button>
            <a class="Right btn btn-default" href="{{ path('error')}}">Cancel</a>
        </div>

        <table id="table">
            <thead>
            <tr>
                <th data-field="id">Error ID</th>
                <th data-field="errorNumber">Error Number</th>
                <th data-field="errorText">Error Text</th>
            </tr>
            </thead>

        </table>
    </div>


    {#{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}#}

    <script>
        var $table = $('#table');
        $button = $('#button');

        $(function () {
            var data = JSON.parse('{{ selections|json_encode|e('js') }}');
            $table.bootstrapTable({data: data});
        });

        $(function () {
            $button.click(function (e) {
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{{ path('error_delete_modal')}}',
                    data: {'selections': $table.bootstrapTable('getData')},
                    success: function (result) {
                        window.location.href = "index";
                    }
                })
            });
        });

    </script>


{% endblock %}