{% extends 'AppBundle:orm:base.html.twig' %}

{% block title %}Errors{% endblock %}

{% block content %}
   <thead>
        <tr class="filters">
            <th scope="col">Select</th>
            <th scope="col">Error Id</th>
            <th scope="col">Error Number</th>
            <th scope="col">Program Name</th>
            <th scope="col">Error Text</th>
            <th scope="col">Error Text</th>
            <th scope="col">Error Text</th>
            <th scope="col">Error Text</th>
            <th scope="col">Time Created</th>
            <th scope="col">Program Version</th>
        </tr>
    </thead>
    <tbody>
    {% for item in entities %}
        <tr>
            <td><input type="checkbox" id="chkBox{{ item.errorId }}" name="ch[]" value="No"></td>
            <td>{{ item.errorId }}</td>
            <td>{{ item.errorNumber }}</td>
            <td>{{ item.programName }}</td>
            <td>{{ item.errorText }}</td>
            <td>{{ item.errorText }}</td>
            <td>{{ item.errorText }}</td>
            <td>{{ item.errorText }}</td>
            <td>{{ item.timeCreated|date('Y-m-d H:i:s') }}</td>
            <td>{{ item.programVersion }}</td>
        </tr>
    {% endfor %}

    </tbody>

{% endblock %}

{% block buttons %}
    <!--<a href="{{ path('error_new') }}">
        Create a new entry
    </a>-->
    <a href="{{ path('error', {'page': previousPage }) }}">
        &ltPrevious&gt
    </a>
    <a href="{{ path('error', {'page': nextPage }) }}">
        &ltNext&gt
    </a>
    <p>Total records: {{ entities.getTotalItemCount }}</p>
{% endblock %}


