{% spaceless %}
    {
    "total": {{ total }},
    "rows": [
    {% for entity in entities %}
        {
        "id": {{ entity.id }},
        "errorNumber": {{ entity.errorNumber }},
        "errorText":"{{ entity.errorText|replace({"\n":' ', "\r":' '}) }}",
        "actions":"{% if is_granted('view', entity) %}view='{{ path('error_show', {'id': entity.id}) }}';{% endif %}{% if is_granted('edit', entity) %}edit='{{ path('error_edit', {'id': entity.id}) }}';{% endif %}{% if is_granted('delete', entity) %}delete='{{ path('error_delete', {'id': entity.id}) }}';{% endif %}"
        }
        {% if not loop.last %},{% endif %}

    {% endfor %}
    ]
    }
{% endspaceless %}
