{% extends 'AppBundle:orm:base.html.twig' %}

{% block title %}
    Error list
{% endblock %}

{% block nav %}
    {% include 'AppBundle:default:indexMenu.html.twig' %}
{% endblock %}

{% block body %}




    <h1>Error List</h1>

    <div class="container">

        <div id="toolbar">
            <!-- Trigger the modal with a button -->
            <!--<button type="button" id="remove" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Delete</button>-->
            <button type="button" id="remove" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirmDelete" data-title="Delete User" data-message="Are you sure you want to delete this user ?" disabled>
                <i class="glyphicon glyphicon-remove"></i> Delete with modal window
            </button>
            <button type="button" id="removeDialog" class="btn btn-danger btn-lg" disabled>
                <i class="glyphicon glyphicon-remove"></i> Delete with dialog page
            </button>
            <button type="button" id="removeDialog" class="btn btn-danger btn-lg" disabled>
                <i class="glyphicon glyphicon-remove"></i> Delete with data check
            </button>
            <a class="Right btn btn-default btn-lg" href="{{ path('error_new')}}">Add</a>
        </div>
        <table id="table"
               data-toggle="table"
               data-url="get_json"
               data-show-columns="true"
               data-id-field="id"
               data-pagination="true"
               data-side-pagination="server">
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="id" sortable="true">Error ID</th>
                <th data-field="errorNumber" sortable="true">Error Number</th>
                <th data-field="errorText" sortable="true">Error Text</th>
                <th data-field="actions" data-formatter="actionsFormatter">Actions</th>
            </tr>
            </thead>

        </table>
    </div>

    <!-- Modal -->
    <div id="confirmDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Delete selected records?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmButton">Delete</button>
                    <a class="Right btn btn-default btn-lg" href="{{ path('error_delete')}}">Delete</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}