{% extends 'AppBundle:orm:nomenu.html.twig' %}

{% block body -%}
    <h1>Error</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Errorid</th>
                <td>{{ entity.ErrorId }}</td>
            </tr>
            <tr>
                <th>Errortext</th>
                <td>{{ entity.ErrorText }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('error') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('error_edit', { 'id': entity.ErrorId }) }}">
            Edit
        </a>
    </li>
    <!--<li>{#{{ form(delete_form) }}#}</li>-->
</ul>
{% endblock %}
