<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap-table.css')}}">
            <link rel="stylesheet" type="text/css" href="{{asset('assets/css/my-theme.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset('assets/js/jquery.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap-table.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap-table-editable.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap-table-export.js')}}"></script>
        {% endblock %}
    </body>
</html>
