{% extends 'AppBundle:orm:base.html.twig' %}

{% block title %}Commands{% endblock %}

{% block content %}
    <thead>
    <tr>
        <th scope="col">Protocol Id</th>
        <th scope="col">Step Number</th>
        <th scope="col">Command</th>
        <th scope="col">Error Id</th>
        <th scope="col">Row Count</th>
        <th scope="col">Insert Month</th>
    </tr>
    </thead>
    {% for item in result %}
        <tr>
            <td>{{ item.protocolId }}</td>
            <td>{{ item.stepNumber }}</td>
            <td>{{ item.command }}</td>
            <td>{{ item.errorId }}</td>
            <td>{{ item.rowCount }}</td>
            <td>{{ item.insertMonth }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block buttons %}
{% endblock %}