{% extends 'AppBundle:orm:nomenu.html.twig' %}

{% block title %}New Error{% endblock %}

{% block body -%}
    <h1>Error creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('error') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
