<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title> {% block title %}{% endblock %} - Symfony/Doctrine/Twig</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap-table.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/my-theme.css')}}">
    {% endblock %}


    {% block javascripts %}
        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap-table.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap-table-editable.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap-table-export.js')}}"></script>
    {% endblock %}

</head>

<body>

    <img src="{{ asset('assets/icons/back_button.jpg') }}" class="centered" alt="" />

</body>

</html>
