{% extends 'AppBundle:orm:base.html.twig' %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include 'AppBundle:default:indexMenu.html.twig' %}
{% endblock %}

{% block body %}

    <img src="{{ asset('assets/icons/Mobile-solutions.jpg') }}" class="centered" alt="" />

{% endblock %}

