{% extends 'base.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html>
    <head>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </head>
    <body>
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog center-block">
            <div class="modal-content col-md-8">
                <div class="modal-header">
                    <h2 class="text-center">Login To CoRAN</h2>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" action="{{ path('login_check') }}" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control input-sm" id="username" name="_username" value="{{ last_username }}" placeholder="Username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control input-sm" id="password" name="_password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm btn-block">Sign In</button>
                            <input type="hidden" name="_target_path" value="/" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}