<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title> {% block title %}{% endblock %} - Symfony/Doctrine/Twig</title>

    {% block stylesheets %}
    {% stylesheets 'bundles/orm/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    {% block scripts %}
    {% javascripts 'bundles/orm/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
</head>

<body>

<div class="container_12">
{% block body %}
{% endblock %}

</div>

</body>

</html>
