<script>


    var $table = $('#table'),
            $remove = $('#remove'),
            $delete = $('#delete'),
            $removeDialog = $('#removeDialog'),
            selections = [];

    $('#confirmDelete').on('show.bs.modal', function (e) {
        $message = $(e.relatedTarget).attr('data-message');
        $(this).find('.modal-body p').text($message);
        $title = $(e.relatedTarget).attr('data-title');
        $(this).find('.modal-title').text($title);
        // Pass form reference to modal for submission on yes/ok
        var form = $(e.relatedTarget).closest('form');
        $(this).find('.modal-footer #confirmButton').data('form', form);
    });

    <!-- Form confirm (yes/ok) handler, submits modal form -->
    $('#confirmDelete').on('click', '#confirmButton', function(e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '{{ path('error_delete_modal')}}',
            data: {'selections': $table.bootstrapTable('getSelections')},
            success: function (result) {
                    window.location.href = "";
            }
        })
    });

    <!-- Form confirm (yes/ok) handler, submits dialog form -->
    $('#toolbar').on('click', '#removeDialog', function(e) {
        e.preventDefault();
        var form = $('<form>').attr({
            action: '{{ path('error_delete')}}',
            method: 'post'
        }).appendTo('body');
        $('<input>').attr({
            type: 'hidden',
            name: 'selections',
            value: JSON.stringify($table.bootstrapTable('getSelections'))
        }).appendTo(form);
        form.submit();
    });

    $(function () {
        $table.bootstrapTable({
            height: getHeight()
        });
        // sometimes footer render error.
        setTimeout(function () {
            $table.bootstrapTable('resetView');
        }, 200);
        $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            $removeDialog.prop('disabled', !$table.bootstrapTable('getSelections').length);
            selections = getIdSelections();
        });

        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
        });
        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });
    })
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }
    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {

            if(key != "actions" && key != "state") {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            }
        });
        return html.join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            });
        }
    };

    function actionsFormatter(value, row, index) {

        var action ='';

        var viewAction = getActionPath(value, 'view');
        var editAction = getActionPath(value, 'edit');
        var deleteAction = getActionPath(value, 'delete');


        if (viewAction) {
            action += '<div class="action"><a href="' + viewAction + '"><img src="../../assets/icons/icon_view.png" /></a></div>';
        }
        else
        {
            action += '<div class="action"><img src="../../assets/icons/placeholder.png" /></div>';
        }

        if (editAction) {
            action += '<div class="action"><a href="' + editAction + '"><img src="../../assets/icons/icon_edit.png" /></a></div>';
        }
        else
        {
            action += '<div class="action"><img src="../../assets/icons/placeholder.png" /></div>';
        }

        if (deleteAction) {
            action += '<div class="action"><a href="' + deleteAction + '"><img src="../../assets/icons/icon_delete.png" /></a></div>';
        }
        else
        {
            action += '<div class="action"><img src="../../assets/icons/placeholder.png" /></div>';
        }

        return action

    }

    function getActionPath(actionString, action)
    {
        var actionLength = action.length;
        var actionPosition = actionString.indexOf(action);
        if (actionPosition < 0) {
            return null;
        }

        var actionValueStart = actionString.indexOf("'", actionPosition);

        if ((actionValueStart < 0) || (actionValueStart == actionString.length - 1)) {
            return null;
        }

        var actionValueEnd =  actionString.indexOf("'", actionValueStart + 1);
        if (actionValueEnd < 0) {
            return null;
        }

        var returnValue = actionString.substr(actionValueStart + 1, actionValueEnd - actionValueStart - 1);
        return returnValue;
    }

    function totalTextFormatter(data) {
        return 'Total';
    }
    function totalNameFormatter(data) {
        return data.length;
    }
    function totalPriceFormatter(data) {
        var total = 0;
        $.each(data, function (i, row) {
            total += +(row.price.substring(1));
        });
        return '$' + total;
    }
    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }
    $(function () {
        var scripts = [
                    location.search.substring(1) || 'assets/bootstrap-table/src/bootstrap-table.js',
                    'assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js',
                    'http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js',
                    'assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js',
                    'http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js'
                ],
                eachSeries = function (arr, iterator, callback) {
                    callback = callback || function () {};
                    if (!arr.length) {
                        return callback();
                    }
                    var completed = 0;
                    var iterate = function () {
                        iterator(arr[completed], function (err) {
                            if (err) {
                                callback(err);
                                callback = function () {};
                            }
                            else {
                                completed += 1;
                                if (completed >= arr.length) {
                                    callback(null);
                                }
                                else {
                                    iterate();
                                }
                            }
                        });
                    };
                    iterate();
                };
        eachSeries(scripts, getScript, initTable);
    });
    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;
        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function() {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();
                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };
        head.appendChild(script);
        // We handle everything using the script element injection
        return undefined;
    }
</script>